# Ignore everything in app except for custom and sql_fixes
app/**
!app/sql
!app/custom_conf

!app/sql/**
!app/custom_conf/**


# Ignore all contents in backup ad src
app/sql/backup/**
app/sql/install/**
src/**

# Always keep .keep files everywhere
!**/.keep

# General ignores
*.log
*.tmp
*.bak
.DS_Store
TODO*
.env

