# ======================
# Core & Project Info
# ======================
PROJECT_NAME=Pandaria-playerbots
TIMEZONE=Europe/Paris
WOW_LOCALE=frFR

# ======================
# Paths & Directories
# ======================
INSTALL_PREFIX=/app
SOURCE_PREFIX=/src/playerbots_5.4.8

DATA_DIR_PATH=/app/data
LOGS_DIR_PATH=/app/logs
ETC_DIR_PATH=/app/etc
CUSTOM_DIR=/app/custom_conf

SQL_INSTALL_DIR=app/sql/install
SQL_UPDATES_DIR=/src/playerbots_5.4.8/sql/updates
SQL_BASE_DIR=/src/playerbots_5.4.8/sql/base
SQL_FIXES_DIR=/app/sql/fixes
SQL_CUSTOM_DIR=/app/sql/custom

WOW_PATH=/app/client
WOW_INTERNAL=/app/wow

START_AUTH=./bin/authserver
START_WORLD=./bin/worldserver

# ======================
# Docker & Container Config
# ======================
EXTERNAL_DB=false
CONTAINER_NAME=pandaria-playerbots
IMAGE_NAME=pandaria-playerbots
OS_NAME=debian11

# You can change which Debian release to use.
# NOTE: If you switch to another distro (e.g. Ubuntu),
#   you must also adjust the package list
BASE_IMAGE=debian:bullseye

AUTH_PORT=3724
REALM_ADDRESS=127.0.0.1
REALM_PORT=8085
RA_PORT=3443
SOAP_PORT=7878
PHPADMIN_PORT=8080

# ======================
# Build & Compilation
# ======================
CMAKE_C_COMPILER=/usr/bin/clang-14
CMAKE_CXX_COMPILER=/usr/bin/clang++-14

#CMAKE_C_COMPILER=/usr/bin/gcc
#CMAKE_CXX_COMPILER=/usr/bin/g++

# Default flags (may cause issues on old CPUs)
CMAKE_CXX_FLAGS=-pthread

# Stable fallback flags (uncomment if builds crash)
# CMAKE_CXX_FLAGS=-O0 -g -pthread -fno-strict-aliasing -fno-pch

BUILD_CORES=0
CMAKE_DISABLE_PCH=OFF
SCRIPTS=static
WARNINGS=0
EXTRACTORS=1
MAKE_INSTALL=1

ACE_INCLUDE_DIR=/usr/include
ACE_LIBRARY=/usr/lib/x86_64-linux-gnu/libACE.so

# ======================
# Database & Credentials
# ======================
DB_CONTAINER=mysql
DB_HOST=db
DB_PORT=3306

MYSQL_USERNAME=root
MYSQL_PASSWORD=pwd

SERVER_DB_USER=pandaria
SERVER_DB_PASSWORD=pwd

AUTH_DB=pandaria548_auth
WORLD_DB=pandaria548_world
CHARACTER_DB=pandaria548_characters
PLAYERBOTS_DB=mop_playerbots

# ======================
# SQL Source & Bundling
# ======================
AUTH_SQL=auth_20_01_2026.sql
CHARACTER_SQL=characters_20_01_2026.sql
WORLD_SQL=world_20_01_2026.sql
PLAYERBOTS_SQL=playerbots_20_01_2026.sql

REPO_URL=https://github.com/KangerTechx/playerbots_5.4.8
WORLD_DB_URL=https://github.com/KangerTechx/playerbots_5.4.8/releases/download/pandaria548/world_20_01_2026.zip
WORLD_DB_ZIP=/app/sql/install/latest_world.zip
WORLD_SQL_UPDATE=/app/sql/install/world_20_01_2026.sql

# ======================
# Data Extraction Options
# ======================
MAPS=ON
VMAPS=ON
MMAPS=ON

# ======================
# Worldserver Configuration
# ======================
GAME_TYPE=0
REALM_ZONE=1
MOTD_MSG="Welcome to Pandaria 5.4.8"

REALM_NAME=Pandaria 5.4.8
REALM_ICON=1
REALM_COLOR=0
REALM_TIMEZONE=1
REALM_SECURITY=0
REALM_POP=0
REALM_BUILD=18414
REALM_FLAG=0

RA_ENABLE=1
SOAP_ENABLE=0
SOAP_IP=0.0.0.0
CONSOLE=0
